[Desktop Entry]
Name=Cipher Utility
StartupWMClass=Cipher Utility
Comment=Encryption/Decryption Utility
Exec=/usr/bin/cipher_utility
Type=Application
Categories=Utility;
Path=/usr/bin/
Icon=/home/naa/github/projects/cipher_utility/images/icon.png
